/* Form-specific styles */
.formSection {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    font-size: 1rem;
}

form .submit-button {
    margin-top: 10px;
}

#error {
    color: #ff0000;
    margin-top: 10px;
}